* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: 600px;
   margin: 20px auto;
   border: 1px solid red;
   padding: 10px;
   gap: 10px;
}

.grid-item {
   border: 1px solid black;
}

img {
   width: 100%;
   visibility: visible;
}

#color-change {
   margin: 30px auto;
   width: 400px;
   height: 400px;
   border: 2px solid black;
   background-color: lightgrey;
}

#circle {
   margin: 30px auto;
   width: 400px;
   height: 400px;
   border: 2px solid black;
   border-radius: 250px;
   text-align: center;
}

#text-below {
   width: 200px;
   height: 50px;
   border: 1px solid yellow;
   text-align: center;
   align-content: center;
   margin-left: -300px;
   
}

.hidden {
   opacity: 0;
}